*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.course-container{
    display: inline-flex;
}

.course-card{
    width: 220px;
    height: 320px;
    margin: 30px 10px;
    background-color: #F8F9F9;
}

.course-name{
    text-align: center;
}

.course-description{
    margin: 10px 0px;
    padding: 5px 10px;
    font-size: 12px;
}

.details{
    display: flex;
    margin: 10px 0px;
}

.course-type{
    width: 50%;
    font-weight: bold;
}

.course-buttons{
    display: flex;
}

.btn{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-buy{
    background-color: lightgreen;
}

.btn-show{
    position: relative;
    right: -20px;
    background-color: rgb(241, 161, 161);
}